.main-content {
    .top-buffer-30();
}

.main-tile {
    background-color: @color-white;
    padding: 45px 30px 30px;
    .bottom-buffer-30();
    .top-border-standard();
    .bottom-border-standard();
}

#content {
    .top-buffer-15();
}

.tile-header {
    .bottom-buffer-30();
}

.entry-title {
    .bottom-buffer-15();
    &:hover {
        color: @color-torquise;
    }
}

.entry-date {
    font-style: italic;
    color: @color-torquise;
}

.more-link {
    background-color: @color-torquise;
    color: @color-white;
    font-weight: 700;
    padding: 5px;
    .top-buffer-15();
    .bottom-buffer-15();
}