/*This is for header part */

.navbar {
    background-color: @color-torquise;
    height: 40px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-container{
    width: 100%;
    padding: 0 20px;
}

.site-title,
.site-navigation, 
.mobile-navigation{
    color: @color-white;
    width: auto;
}

.site-title{
    float: left;
    .top-buffer-8();
    .bottom-buffer-8();
    
    span{
        font-weight: 800;
    }
}

.site-navigation, 
.mobile-navigation{
    float: right;    
}

.navigation{
    cursor: pointer;
    float: left;
    border-right: 1px solid @color-creme;
    height: 40px;
    padding: 8px 16px;
    
    &:first-child{
        padding-left: 0px;
    }
    &:last-child{
        border-right: none;
        padding-right: 0px;
    }
    &:hover{
        text-decoration: underline;
    }
}

/*.navigation-search, .navigation-subscribe{
    padding-top: 6px;
}*/



.header-menu-list {
    color: @color-white;
}

.header-background {
    .text-center();
    
    img{
        .top-buffer-50();
    }
}