/*This is for header part */

.navbar {
    background-color: @color-black;
    height: 40px;
}

.site-title,
.site-description {
    color: @color-white;
    .top-buffer-10();
    .bottom-buffer-10();
}

.header-menu-list {
    color: @color-white;
}

.header-background {
    .text-center();
}