/*This is for header part */

.navbar {
    background-color: @color-torquise;
    height: 40px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-container{
    width: 100%;
    padding: 0 20px;
}

.site-title,
.site-navigation {
    color: @color-white;
    width: 20%;
}

.site-title{
    float: left;
    .top-buffer-8();
    .bottom-buffer-8();
}

.site-navigation{
    float: right;    
}

.site-search, .site-menu{
    cursor: pointer;
    display: inline-block;
}

.site-menu{
    border-right: 1px solid @color-creme;
    height: 40px;
    padding: 8px 8px 8px 0px;
}



.header-menu-list {
    color: @color-white;
}

.header-background {
    .text-center();
    
    img{
        .top-buffer-50();
    }
}