.clearfix {
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

.top-buffer-8 {
    margin-top: 8px;
}

.bottom-buffer-8 {
    margin-bottom: 8px;
}

.top-buffer-10 {
    margin-top: 10px;
}

.top-buffer-15 {
    margin-top: 15px;
}

.top-buffer-30 {
    margin-top: 30px;
}

.top-buffer-50 {
    margin-top: 50px;
}

.bottom-buffer-10 {
    margin-bottom: 10px;
}

.bottom-buffer-15 {
    margin-bottom: 15px;
}

.bottom-buffer-30 {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

.top-border-standard {
    border-top: 5px solid @color-torquise;
}

.bottom-border-standard {
    border-bottom: 5px solid @color-torquise;
}