/*This is for header part */

.navbar {
    background-color: @color-torquise;
    height: 40px;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-container{
    width: 100%;
    padding: 0 20px;
}

.site-title,
.site-navigation, 
.mobile-navigation{
    color: @color-white;
    width: auto;
    cursor: pointer;
}

.site-title{
    float: left;
    .top-buffer-8();
    .bottom-buffer-8();
    
    span{
        font-weight: 800;
    }
}

.site-navigation, 
.mobile-navigation{
    float: right;    
}

.mobile-navigation{
    padding-top: 6px;
}



.navigation{
    float: left;
    border-right: 1px solid @color-bg;
    height: 40px;
    padding: 8px 16px;
    
    &:first-child{
        padding-left: 0px;
    }
    &:last-child{
        border-right: none;
        padding-right: 0px;
    }
    &:hover{
        text-decoration: underline;
    }
}

.header-menu-list {
    color: @color-white;
}

.header-background {
    .text-center();
    
    img{
        .top-buffer-50();
    }
}

.header-intro {
    position: relative;
    top: 40px;
    height: 200px;
}

//max-width: 991px
@media (max-width: @screen-md-max) {
    .site-navigation{
        display: none;
    }
    
}


.main-content-wrapper {
    .top-buffer-80 {
	
}
}
